terraform {
  backend "local" {
    path = ".terraform/terraform.tfstate"
  }
}

data "terraform_remote_state" "local" {
  backend = "local"

  config = {
    path = "${path.module}/.terraform/terraform.tfstate"
  }
}

data "aws_caller_identity" "current" {}

provider "aws" {
  region  = var.region
  profile = var.profile
}
